<h1>Forgot Your Password?</h1>
<p>No worries. Simply provide us with your email (the one used on this site) and we will email you instructions on changing your password.</p>
<hr>
<flash-messages></flash-messages>
<form [formGroup]="createPasswordForm" (ngSubmit)="onSubmit()">
  <div class="form-group"> 
    <label>Email</label>
    <input type="email"
        class="form-control"
        placeholder="Email"
        formControlName="email"
    >
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
