.sticky {
    width: 20%;
    min-width: 250px;
    display: inline-block;
    /* height: 361px; */
    height: 385px;
    margin-top: 20px;
}
.sticky .message {
    height: 120px;
}

.sticky h5 {
    height: 48px;
}
.sticky p {
    height: 120px;
}
input.ng-touched.ng-invalid {
    border: 1px solid red;
}

flash-messages, .prompt {
    font-size: 16px;
    margin:0;
    padding:0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:10;
    width: 100%;
}
.prompt {
    width: 100%;
}
.alert {
    margin:0;
}

/* TABLET && LARGE SMARTPHONES */
@media screen and (min-width: 481px ) and (max-width: 768px) {
    .sticky {
        margin-right: 10px;
        min-width: 314px;
    }
}
/* LAPTOPS && TABLET in Landscape */
@media screen and (min-width: 769px ) and (max-width: 1024px) {
    .sticky {
        margin-right: 10px;
        min-width: 314px;
    }
    
}
/* LARGE DESKTOPS */
@media screen and (min-width: 1025px ) and (max-width: 1600px) {
    .sticky {
        margin-right: 10px;
        min-width: 314px;
    }

}