<!-- Default Mode -->
<ng-template [ngIf]="!reserveMode && !editMode">
  <article 
    class="sticky card text-center align-top"
    [ngStyle]="{'background': sticky.color}"
    >
    <div class="card-body">
      <div class="alert alert-danger prompt" *ngIf="(cardType==='redeemed' || cardType==='available') && deletePrompt===true">
        <p>Are you sure you want to delete this?</p> 
        <button class="btn btn-outline-danger"
                (click)="onDeleteSet()">Yes</button>
        <button class="btn btn-outline-success"
                (click)="onDeleteCancel()">No</button><br>
        <small *ngIf="cardType==='redeemed'">*Bookkeeping: keep record of this sticky before deleting.</small>
      </div>
      <flash-messages></flash-messages>
      <h5 class="card-title">{{sticky.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{sticky.user.name}}</h6>
      <p class="card-text message">{{sticky.message}} <br> <small class="text-muted " >from {{sticky.from}}</small></p>
      <hr>
        <small *ngIf="cardType == 'available'"
          class="card-text text-muted">{{sticky.user.address}}
          <br> {{sticky.user.city}}, {{sticky.user.state}}
        </small>
        <small *ngIf="cardType == 'reserved'"
          class="card-text text-muted">Reserved by 
          <br> <b>{{sticky.reservedBy}}</b>
        </small>
        <small *ngIf="cardType == 'redeemed'"
          class="card-text text-muted">Redeemed by 
          <br> <b>{{sticky.reservedBy}}</b>
        </small>
    </div>
    <div class="card-footer">
      <!-- L O G G E D  I N-->
      <!-- Available -->
      <div *ngIf="isLoggedIn && cardType == 'available'">
          <button class="btn btn-success" (click)="onReserveShow()">Reserve</button>
          <button class="btn btn-info" (click)="onEditShow()">Edit</button> 
          <button class="btn btn-danger" (click)="onDeletePrompt()">Delete</button>
      </div>
      <!-- Reserved -->
      <div *ngIf="isLoggedIn && cardType == 'reserved'">
          <button class="btn btn-success" (click)="onRedeemSet()">Redeem</button>  
          <button class="btn btn-default" (click)="onUnreserveSet()">Unreserve</button>
      </div>
      <!-- Redeemed -->
      <div *ngIf="isLoggedIn && cardType == 'redeemed'">
          <button class="btn btn-danger" (click)="onDeletePrompt()">Delete</button><br>
             
      </div>
      <!-- L O G G E D  O U T-->
      <div *ngIf="!isLoggedIn" id="loggedOut">
          <button class="btn btn-info btn-block" 
                  (click)="onReserveShow()"
                  [disabled]="!canReserve">Reserve</button>
      </div>
    </div>
  </article>
</ng-template>

<!-- ReserveMode -->
<ng-template [ngIf]="reserveMode && !editMode">
  <article 
    class="sticky card text-center m-4 align-top"
    >
    <div class="card-body">
      <flash-messages></flash-messages>
        <button type="button" 
                class="close" 
                aria-label="Close"
                (click)="onReserveEditModeCancel()">
            <span aria-hidden="true">&times;</span>
          </button>
      <h5 class="card-title">{{sticky.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{sticky.user.name}}</h6>
      <small>{{sticky.user.address}}<br>{{sticky.user.city}}, {{sticky.user.state}}</small>
      <hr>
      <form [formGroup]="reserveForm" (ngSubmit)="onReserveSet()">
        <div class="form-group" >
          <label for="reserveControl">Reserve</label>
          <input 
            type="text" 
            id="reserveControl"
            class="form-control"
            placeholder="                 Your Full Name"
            required
            minlength="5"
            formControlName="reserveBy">
        </div>
        <button class="btn btn-success">Reserve Now</button>
      </form>
      <small class="mt-4 text-muted">Once reserved, make your way to the restaurant. Expires in 2 days.
      </small>
    </div>
  </article>
</ng-template>

<!-- Edit Mode -->
<ng-template [ngIf]="editMode && !reserveMode">
  <article 
    class="sticky card text-center m-4 align-top"
    >
    <div class="card-body">
        <flash-messages></flash-messages>
        <button type="button" 
              class="close" 
              aria-label="Close"
              (click)="onReserveEditModeCancel()">
            <span aria-hidden="true">&times;</span>
          </button>
      <form [formGroup]="editForm" (ngSubmit)="onEditSet()">
        <div class="form-group" >
          <input 
            type="text" 
            id="editControl"
            class="form-control"
            style="width: 80%"
            formControlName="title">
        </div>
        <div class="form-group" >
          <label>Message</label>
          <textarea 
            class="form-control"
            rows="4"
            maxlength="120"
            formControlName="message"></textarea>
        </div>
        <div class="form-group" >
          <label>From</label>
          <input 
            type="text" 
            id="reserveControl"
            class="form-control"
            formControlName="from">
        </div>
        <button class="btn btn-info">Edit Now</button>
      </form>      
    </div>
  </article>
</ng-template>

<!-- Eror Mode -->
<!-- <ng-template [ngIf]="errorMode && !reserveMode && !editMode">
  <article 
    class="sticky card text-center m-4 align-top"
    >
    <div class="card-body">
        <button type="button" 
              class="close" 
              aria-label="Close"
              (click)="onReserveEditModeCancel()">
            <span aria-hidden="true">&times;</span>
          </button>
        <flash-messages></flash-messages>
    </div>
  </article>
</ng-template> -->