<!-- Default Mode -->
<ng-template [ngIf]="!reserveMode && !editMode">
  <article 
    class="sticky card text-center m-4 align-top"
    >
    <div class="card-body">
      <h5 class="card-title">{{sticky.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{sticky.user.name}}</h6>
      <p class="card-text message">{{sticky.message}} <br> <small class="text-muted " >from {{sticky.from}}</small></p>
      <hr>
        <small *ngIf="cardType == 'available'"
          class="card-text text-muted">{{sticky.user.address}}
          <br> {{sticky.user.city}}, {{sticky.user.state}}
        </small>
        <small *ngIf="cardType == 'reserved'"
          class="card-text text-muted">Reserved by 
          <br> <b>{{sticky.reservedBy}}</b>
        </small>
        <small *ngIf="cardType == 'redeemed'"
          class="card-text text-muted">Redeemed by 
          <br> <b>{{sticky.reservedBy}}</b>
        </small>
    </div>
    <div class="card-footer">
      <!-- L O G G E D  I N-->
      <!-- Available -->
      <div *ngIf="isLoggedIn && cardType == 'available'">
          <button class="btn btn-success" (click)="onReserveShow()">Reserve</button>
          <button class="btn btn-info" (click)="onEditShow()">Edit</button> 
          <button class="btn btn-danger" (click)="onDeleteset()">Delete</button>
      </div>
      <!-- Reserved -->
      <div *ngIf="isLoggedIn && cardType == 'reserved'">
          <button class="btn btn-success" (click)="onRedeemSet()">Redeem</button>  
      </div>
      <!-- Redeemed -->
      <div *ngIf="isLoggedIn && cardType == 'redeemed'">
          <button class="btn btn-danger" (click)="onDeleteSet()">Delete</button>
          <small class="text-muted">Keep a record of sticky before deleting it</small>    
      </div>
      <!-- L O G G E D  O U T-->
      <div *ngIf="!isLoggedIn">
          <button class="btn btn-success" (click)="onReserveShow()">Reserve</button>
          im logged out
      </div>
    </div>
  </article>
</ng-template>

<!-- ReserveMode -->
<ng-template [ngIf]="reserveMode">
  <article 
    class="sticky card text-center m-4 align-top"
    (mouseleave)="onReserveEditModeCancel()"
    >
    <div class="card-body">
      <h5 class="card-title">{{sticky.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{sticky.user.name}}</h6>
      <small>{{sticky.user.address}}<br>{{sticky.user.city}}, {{sticky.user.state}}</small>
      <hr>
      <form [formGroup]="reserveForm" (ngSubmit)="onReserveSet()">
        <div class="form-group" >
          <label for="reserveControl">Reserve</label>
          <input 
            type="text" 
            id="reserveControl"
            class="form-control"
            placeholder="                 Your Full Name"
            formControlName="reserveBy">
        </div>
        <button class="btn btn-success">Reserve Now</button>
      </form>
      <small class="mt-4 text-muted">Once reserved, make your way to the restaurant. Expires in 2 days.
      </small>
    </div>
  </article>
</ng-template>

<!-- Edit Mode -->
<ng-template [ngIf]="editMode">
  <article 
    class="sticky card text-center m-4 align-top"
    (mouseleave)="onReserveEditModeCancel()"
    >
    <div class="card-body">
      <form [formGroup]="editForm" (ngSubmit)="onEditSet()">
        <div class="form-group" >
          <input 
            type="text" 
            id="reserveControl"
            class="form-control"
            formControlName="title">
        </div>
        <div class="form-group" >
          <label for="reserveControl">Message</label>
          <textarea 
            class="form-control"
            rows="4"
            maxlength="120"
            formControlName="message"></textarea>
        </div>
        <div class="form-group" >
          <label for="reserveControl">From</label>
          <input 
            type="text" 
            id="reserveControl"
            class="form-control"
            formControlName="from">
        </div>
        <button class="btn btn-info">Edit Now</button>
      </form>      
    </div>
  </article>
</ng-template>