<article 
  class="sticky card text-center m-4"
  >
  <div class="card-body">
    <h5 class="card-title">{{sticky.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{sticky.user.name}}</h6>
    <p class="card-text">{{sticky.message}} <br> <small class="text-muted " >from {{sticky.from}}</small></p>
    <hr>
      <small *ngIf="cardType == 'available'"
        class="card-text text-muted">{{sticky.user.address}}
        <br> {{sticky.user.city}}, {{sticky.user.state}}
      </small>
      <small *ngIf="cardType == 'reserved'"
        class="card-text text-muted">Reserved by 
        <br> <b>{{sticky.reservedBy}}</b>
      </small>
      <small *ngIf="cardType == 'redeemed'"
        class="card-text text-muted">Redeemed by 
        <br> <b>{{sticky.reservedBy}}</b>
      </small>
  </div>
  <div class="card-footer">
    <!-- L O G G E D  I N-->
    <!-- Available -->
    <div *ngIf="isLoggedIn && cardType == 'available'">
        <button class="btn btn-success">Reserve</button>
        <button class="btn btn-info">Edit</button> 
        <button class="btn btn-danger">Delete</button>
    </div>
    <!-- Reserved -->
    <div *ngIf="isLoggedIn && cardType == 'reserved'">
        <button class="btn btn-success">Redeem</button>  
    </div>
    <!-- Redeemed -->
    <div *ngIf="isLoggedIn && cardType == 'redeemed'">
        <button class="btn btn-danger">Delete</button>
        <small class="text-muted">Keep a record of sticky before deleting it</small>    
    </div>
    <!-- L O G G E D  O U T-->
    <div *ngIf="!isLoggedIn">
        <button class="btn btn-success">Reserve</button>
        im logged out
    </div>
  </div>
</article>