.sticky {
    width: 20%;
    min-width: 314px;
    display: inline-block;
    height: 361px;
}
.sticky .message {
    height: 120px;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

flash-messages, .prompt {
    font-size: 16px;
    margin:0;
    padding:0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:10;
}
.prompt {
    width: 100%;
}
.alert {
    margin:0;
}
