<section class="col-md-6 m-auto">
  <h1>Register</h1>
  <small>Already Registered? login</small>
  <hr>
  <flash-messages></flash-messages>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <div class="alert alert-danger" 
          *ngIf="registerForm.controls['username'].errors && !registerForm.controls['username'].untouched">
        <div [hidden]="!registerForm.controls['username'].errors.required">Username is required.</div>
      </div>
      <label for="username">Username</label>
      <input 
          type="text" 
          id="username"
          class="form-control"
          formControlName="username"
          placeholder="username" >
    </div>
    <div class="form-group">
      <div class="alert alert-danger" 
          *ngIf="registerForm.controls['email'].errors && !registerForm.controls['email'].untouched">
        <div [hidden]="!registerForm.controls['email'].errors.required">Email is required.</div>
        <div [hidden]="!registerForm.controls['email'].errors.email">Not in Email format</div>
      </div>
      <label for="email">Email</label>
      <input 
          type="email" 
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="email" >
    </div>
    <div class="form-group">
      <div class="alert alert-danger" 
          *ngIf="registerForm.controls['password'].errors && !registerForm.controls['password'].untouched">
        <div [hidden]="!registerForm.controls['password'].errors.required">Password is required.</div>
      </div>
      <label for="password">Password</label>
      <input 
          type="password" 
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="password" >
    </div>
    <div class="form-group">
      <div class="alert alert-danger" 
          *ngIf="registerForm.controls['name'].errors && !registerForm.controls['name'].untouched">
        <div [hidden]="!registerForm.controls['name'].errors.required">Restaurant Name is required.</div>
      </div>
      <label for="name">Restaurant Name</label>
      <input 
          type="text" 
          id="name"
          class="form-control"
          formControlName="name"
          placeholder="Restaurant Name" >
    </div>
    <div class="form-group">
        <div class="alert alert-danger" 
          *ngIf="registerForm.controls['url'].errors && !registerForm.controls['url'].untouched">
        <div [hidden]="!registerForm.controls['url'].errors.required">Restaurant Url is required.</div>
      </div>
        <label for="url">Restaurant Url <br> <small class="form-text text-muted">A link that will take patrons to your list of available food items</small></label>
        <input 
              type="text" 
              id="url"
              class="form-control form-contol-sm"
              formControlName="url"
              placeholder="RosasPizza123" >
        
    </div>
    <div class="form-group">
        <div class="alert alert-danger" 
          *ngIf="registerForm.controls['address'].errors && !registerForm.controls['address'].untouched">
        <div [hidden]="!registerForm.controls['address'].errors.required">Address is required.</div>
      </div>
      <label for="address">Address</label>
      <input 
          type="text" 
          id="address"
          class="form-control"
          formControlName="address"
          placeholder="125 Address st" >
    </div>
    <div class="form-group">
      <label for="city">City/Town</label>
      <input 
          type="text" 
          id="city"
          class="form-control"
          formControlName="city"
          placeholder="Newburgh" >
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input 
          type="text" 
          id="state"
          class="form-control"
          formControlName="state"
          placeholder="NY"
          maxlength="2" >
    </div>
    <div class="form-group">
      <label for="zipcode">Zipcode</label>
      <input 
          type="text" 
          id="zipcode"
          class="form-control"
          formControlName="zipcode"
          placeholder="zipcode" >
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input 
            type="tel" 
            id="phone"
            class="form-control"
            formControlName="phone"
            placeholder="phone" >
      </div>
    <button>Register</button>  
  </form>
</section>
