<section class="col-md-6">
  <h1>Restaurant Login</h1>
  <small>Are you a New Restaurant? <a routerLink="/register">Register</a></small>
  <flash-messages></flash-messages>
  <hr>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>    
    <div class="alert alert-danger" 
        *ngIf="loginForm.controls['username'].errors && !loginForm.controls['username'].untouched">
      <div [hidden]="!loginForm.controls['username'].errors.required">Username is required.</div>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input 
          type="text" 
          id="username"
          class="form-control"
          formControlName="username"
          placeholder="username" >
    </div>    
    <div class="form-group">
      <div class="alert alert-danger" 
          *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].untouched">
        <div [hidden]="!loginForm.controls['password'].errors.required">Password is required.</div>
      </div>
      <label for="password">Password</label>
      <input 
          type="password" 
          id="password"
          class="form-control"
          formControlName="password"
          placeholder="password" >
    </div>    
    <button class="btn btn-primary">Login</button> <br> <small><a routerLink="/changePassword">forgot your password?</a> </small>
  </form>
</section>
