<div class="jumbotron">
    <p class="display-3">Random Acts of Kindness At Your Fav Restaurants</p>
    <a class="btn btn-primary btn-lg text-white">Restaurants</a>
    <a class="btn btn-success btn-lg text-white">Patrons</a>
</div>

<!-- Bulletin Board -->
<app-bulletin-board *ngIf="isCityStateSet"></app-bulletin-board>
<!-- OR INFO-->
<div *ngIf="!isCityStateSet">
    this is info about givechain
    
    <h2> Step 1. Save Your City & State</h2>
    <form>
        <input type="text" placeholder="City">
        <input type="text" placeholder="State">
    </form>
    <h2> Step 2. Browse Available Items</h2>
    <h2> Step 3. Reserve a Food Item</h2>

</div>
