.jumbotron {
    background-image: url('../../assets/img/meeting.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.jumbotron p {
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 3px #aaa;
}
.jumbotron a {
    margin: auto;
}

.infoWrapper {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background: whitesmoke;
}

.infoWrapper form button, 
.infoWrapper form input {
    text-align: center;
    margin-top: 10px;
}

/* TABLET && LARGE SMARTPHONES */
@media screen and (min-width: 481px ) and (max-width: 768px) {
    .jumbotron p {
        font-size: 3.5rem;
    }
    .infoWrapper form {
        width: 60%;
        margin: auto;
    }
}
/* LAPTOPS && TABLET in Landscape */
@media screen and (min-width: 769px ) and (max-width: 1024px) {
    .jumbotron p {
        font-size: 4.5rem;
    }
    .infoWrapper form {
        width: 50%;
        margin: auto;
    }
}
/* LARGE DESKTOPS */
@media screen and (min-width: 1025px ) and (max-width: 1600px) {
    .jumbotron p {
        font-size: 4.5rem;
    }
    .infoWrapper form {
        width: 40%;
        margin: auto;
    }

}