<div class="jumbotron">
    <p class="display-3">Random Acts of Kindness At Your Fav Restaurants</p>
    <a class="btn btn-primary btn-lg text-white" routerLink="/login">Restaurants Login</a>
</div>

<!-- Bulletin Board -->
<app-bulletin-board *ngIf="isCityStateSet"></app-bulletin-board>
<!-- OR INFO-->
<div *ngIf="!isCityStateSet" class="infoWrapper">    
    <h2> Step 1. </h2> 
    <h5>Save Your City & State</h5>
    <form [formGroup]="cityForm" (ngSubmit)="onSubmit()" class="form-inline">
        <input type="text" 
            class="form-control"
            placeholder="City"
            formControlName="city">
        <input type="text" 
            class="form-control"
            placeholder="State"
            maxlength="2"
            formControlName="state">
        <button class="btn btn-success">Set Your Location</button>
    </form>
    <hr>
    <h2> Step 2.</h2> 
    <h5>Browse Available Items</h5>
    <hr>
    <h2> Step 3.</h2> 
    <h5>Reserve a Food Item</h5>

</div>
